.create-album-body {
    background-color: #f7f7f7;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.create-album-form {
    display: flex;
    width: 100%;
    justify-content: center;

    ::-webkit-file-upload-button {
        display: none;
    }

    .image-container {
        background-color: white;
        display: flex;
        align-items: flex-start;
        width: 450px;
        border-left: 1px solid #007eff;
        margin-top: 20px;
    }


        .album-text {
            display: flex;
            flex-direction: column;
        }
    

    .image {
        display: inline-block;
        background-color: white;
        border: .5px dashed rgb(175, 175, 175);
        margin: 10px;
    }

    img {
        height: 65px;
        width: 70px;
    }

    .album-name-container {
        background-color: white;
        width: 455px;
        padding: 11px;
    }

    #album-title-error {
        p {
            color: red;
            margin-left: 17px;
            z-index: 2;
            margin-top: -13px;
            font-size: 12px;
        }
    }

    #album-art-error {
        p {
            color: red;
            margin-left: 25px;
            z-index: 2;
            margin-top: -21px;
            font-size: 12px;
        }
    }

    #album-track-error {
        p {
            color: red;
            margin-left: 1px;
            z-index: 2;
            margin-top: 1px;
            font-size: 12px;
        }
    }

    .album-name-asterisk {
        display: flex;

        

        p {
            margin-top: 11px;
            font-size: 20px;
            color: #54a8c2;
        }
    }

    .release-date {
        display: flex;
        font-size: 12px;
        justify-content: space-around;
        align-items: center;
        margin: 8px 5px 22px 5px;

        input {
            width: 123px;
            color: grey;
            font-size: 12px;
            border: 0.5px inset gainsboro;
        }

        p:nth-of-type(2) {
            color: rgb(145, 145, 145);
            
        }

        p:nth-of-type(3) {
            color: rgb(145, 145, 145);
            
        }
    }

    .border {
        border-bottom: .5px dotted rgb(161, 161, 161);
        width: 92%;
        margin-left: 11px;
    }

    .album-name {
        background-color: white;
        width: 380px;
        border: 0.5px inset gainsboro;
        height: 20px;
        font-size: 22px;
        color: #afb1b0;
        padding: 10px;
        margin: 17px 5px;
    }

    label{
        cursor: pointer;
        color: #148fe9;
        font-size: 22px;
        margin-left: 6px;
    }

    label:hover{
        text-decoration: underline;
    }

    .image-file-container {
        border: 0.5px dashed #c2c2c2;
        margin: 25px 20px;
        height: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .center-p {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            color: #999797;
            height: 40%;
            justify-content: space-evenly;

            .together-p {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

    }

    .description {
        margin-left: 12px;
        margin-bottom: 15px;
        width: 248px;
        display: flex;
        justify-content: space-evenly;

        label {
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }
    }

    .pricing {
    display: flex;
    height: 25%;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 20px 10px 20px;

        p {
            font-size: 12px;
        }

        p:nth-of-type(2) {
            color: #959393;
        }
    }

    .checkbox {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .dollars {
        width: 130px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        input {
            width: 50px;
            height: 18px;
            border: 0.5px inset gainsboro;
            text-align: right;
            font-size: 12px;
        }

        p {
            color: #0e88df;
        }

    }

    .payments {
        display: flex;
        justify-content: space-between;
        width: 335px;

        span {
            font-weight: bold;
        }

        p:nth-of-type(2) {
            color: #0e88df;
        }
    }



    #image-input-id {
        display: none;
    }

    #audio-input-id {
        display: none;
    }

    #description-id {
        display: none;
    }

    .song-file {
        background-color: mediumslateblue;
    }

    .album-preview-box {
        display: flex;           
        flex-direction: column;
        button {
            margin: 38px 91px;
            background: whitesmoke;
            border: 0.5px solid #d9d6d6;
            font-weight: bold;
            color: #138fe9;
            padding: 4px;
            border-radius: 2px;
            width: 85px;
        }

        button:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.song-file-container {
    p {
        padding: 8px;
        margin: 8px 0px;
        font-size: 15px;
        font-weight: bold;
        color: grey;
        font-variant: small-caps;
    }
}

.album-text {
    h1 {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }

    p {
        margin-left: 10px;
        font-size: 12px;
    }

    // p:nth-of-type(2) {
    //     font-weight: bold;
    // }
    .album-p {
        display: flex;

        span {
            font-weight: bold;
        }
    }
}