body {
    font: 14px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.logo {
    height: 30px;
    width: 125px;
    padding: 30px;
}

.logo-links-container {
    display: flex;
    
    justify-content: space-between;
    align-items: center; 
    position: relative;
}

header a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    display: flex;
    
    justify-content: space-between;
}

header a:hover{
    text-decoration: underline;
}

.links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    // background-color: pink;
    width: 30vw;
    font-size: 16px;
}

.links-container .links{
    text-decoration: none;
    background-color: white;
    border: none;
    font-weight: bold;
    color: black;
    font: 14px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 15px;
}

.links:hover {
    text-decoration: underline;
    font-weight: 500;
}

.welcome-message {
    position: absolute;
    top: 100px;
    left: 100px;
}

.welcome-message a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.welcome-message a:hover {
    text-decoration: underline;
}

.welcome-message-link {
    position: absolute;
    left: 700px;
    bottom: 40px;
    padding: 30px;
    margin: 10px;
}

.modal-background-signup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(44, 44, 44, 0.7);
  z-index: 10;
}

.modal-background-login {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(243, 242, 242, 0.7);
  z-index: 10;
}

.modal-child-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
//   padding: 30px;
  height: 60vh;
  width: 50vw;
  border-radius: 10px;
}

.modal-child-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
//   padding: 30px;
  height: 75vh;
  width: 100vw;
  border-radius: 10px;
}

.modal-content {
    // background-color: pink;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // background-color: lightblue;
    border-radius: 10px;
}

.session-form > h1 {
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(235, 235, 235);
    border-bottom-color: rgb(224, 223, 223);
    width: 95%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:rgba(19, 19, 19, 0.7)
}

.session-form label {
    margin-top: 30px;
    // background-color: royalblue;
    width: 70%;
    font-size: 17px;
    color:rgb(34, 33, 33);
}

.session-form input {
    width: 70%;
    height: 30px;
    border-radius: 0;
    border: 1px solid rgb(81, 83, 83);
}

.session-form button {
    background-color: rgb(84, 168, 194);
    color: white;
    width: 70%;
    height: 30px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
}

.session-form button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login > h1{
    padding: 10px;
    width: 65%;
    font-size: 17px;
    // background-color: pink;
    border-bottom: 2px dotted rgb(141, 145, 145);
}

.login {
    background-color: rgb(235, 235, 235);
}

.login input{
    width: 45%;
}

.login button {
    width: 45%;
}

// .username {
//     display: flex;
//     justify-content: space-evenly;
//     background-color: pink;
//     margin-bottom: 5px;
// }

// .username input {
//     margin-bottom: 0px;
//     background-color: blue;
// }

// .email {
//     display: flex;
//     justify-content: space-evenly;
// }

// .password {
//     display: flex;
//     justify-content: space-evenly;
// }
.article-index {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;

}


.article:first-child {
    position: relative;
    color: rgb(241, 228, 228);
    font-size: 35px;
    font-weight: 500;
    text-shadow: 0px 1px 2px #050505;
    max-width: 100vw;
    height: 60.5vh;
    width: 60vw;
    min-width: 700px;
    overflow: hidden;
    margin: 1.5px 0px 1.5px 0px;

}

.img1 {
    position: absolute;
    width: 40vw;
    height: 30vh;
    margin: 1.5px;
}

.img2 {
    position: relative;
    width: 40vw;
    height: 30vh;
    top: 208px;
    margin: 2.5px 1.5px 1.5px 1.5px;
    // right: 0px;
}

// .first-article img{
//     height: 60vh;
//     width: 60vw;
//     min-width: 700px;
//     overflow: hidden;
// }

// .side-article img {
//     height: 30vh;
//     width: 30vw;
//     position: absolute;
//     bottom: 50px;
//     border: 3px solid red;
//     align-self: flex-start;
// }

// .side-articles-container {}

.article h2 {
    position: absolute;
    bottom: 130px;
    left: 45px;
    background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
    letter-spacing: 1px;
}

.article p {
    position: absolute;
    bottom: 100px;
    left: 45px;
    font-size: 14px;
    font-weight: 400;
    background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
    overflow-wrap: break-word;
    letter-spacing: 1px;
    overflow: hidden;
    font-weight: normal;
}

.article button {
    position: absolute;
    bottom: 40px;
    left: 45px;
    background: rgba(0, 0, 0, 0.4);
    color: rgb(231, 231, 231);
    border: 1px solid white;
    // font-weight: bold;
    padding: 7px;
    border-radius: 5px;
    width: 95px;
    
}

img:hover { 
  opacity: .9; 
}


.article {
    color: rgb(231, 231, 231);
    font-size: 35px;
    font-weight: 500;
    text-shadow: 0px 1px 2px #050505;
}



.container-1 {
    position: relative;
}
.class1 h2 {
    position: absolute;
    top: 143px;
    left: 20px;
    z-index: 2;
    font-size: 18px;
    height: 22px;
    background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.class1 p {
    position: absolute;
    z-index: 100;
    top: 166px;
    left: 29px;
    width: 195px;
    font-size: small;
    height: 20px; 
    font-weight: bold;  
}

.class2 h2 {
    position: relative;
    z-index: 2;
    top: 130px;
    left: 20px;
    font-size: 18px;
    height: 16px;
    width: 45px;
}

.class2 p {
    position: relative;
    z-index: 2;
    top: 131px;
    left: 28px;
    height: 20px;
    width: 170px;
    font-weight: bold;
}

.class1 button {
    display: none;
}

.class2 button {
    display: none;
}



.album-index-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.album-index {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.album {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    inline-size: 150px;
    overflow-wrap: break-word;
}

.album img {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    overflow: auto;
}
