body {
    font: 14px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.logo {
    height: 47px;
    width: 151px;
    margin: 0px 20px;
    margin-top: 5px;
}

.splash-text {
    p:nth-of-type(1) {
        text-align: center;
        font-size: 20px;
        padding: 30px;
    }
    p:nth-of-type(2) {
        font-variant: small-caps;
        font-size: 20px;
        margin-left: 20px;
        // font-weight: bold;
        color:rgb(11, 121, 185);
    }
}


// .logo-links-container {
//     display: flex;
    
//     justify-content: space-between;
//     align-items: center; 
//     position: relative;
// }

.links-container a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    display: flex;
    
    justify-content: space-between;
}

// header a:hover{
//     text-decoration: underline;
// }

.links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // margin: 20px;

    width: 30vw;
    font-size: 16px;
    position: absolute;
    z-index: 300;
    top: 20px;
    right: 5px;
}

.links-container .links{
    text-decoration: none;
    background-color: white;
    border: none;
    font-weight: bold;
    color: black;
    font: 14px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 15px;
}

.links-container a:hover {
    text-decoration: underline;
    font-weight: 500;
}

.welcome-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #e5e5e5;

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 15px;
        background-color: #f9f9f9;
        min-width: 209px;
        box-shadow: 0px 8px 16px 0px black;
        padding: 12px 16px;
        z-index: 1;
        border-radius: 5px;
        a {
            color: black;
            // margin: 5px;
        }
    }

    .dropdown:hover .dropdown-content {
        display: block; 
    }

    .user-profile {

        margin: 5px;
        p:first-child {
            font-weight: bold;
            margin: 5px;
        }
        p:last-child {
            font-size: 12px;
            margin: 5px;
        }
    }

    .logout {
        margin: 5px;
        border-top: .5px dotted #bbbbbb;
        padding: 5px;
    }
}

// .welcome-message a {
//     text-decoration: none;
//     font-weight: 500;
//     color: black;
// }

// .welcome-message a:hover {
//     text-decoration: underline;
// }

.welcome-message-link {
    position: relative;
    left: 879px;
    bottom: 38px;
    margin: 10px;
}

.circle {
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

.modal-background-signup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(44, 44, 44, 0.7);
  z-index: 10;
}

.modal-background-login {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(243, 242, 242, 0.7);
  z-index: 10;
}

.login-logo {
    height: auto;
    width: 145px;
    margin: 31px 13px;
}

.modal-child-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 84vh;
    width: 45vw;
    

    .login-logo {
        display: none;
    }

    .modal-content {
        border-radius: 5px;
        background: white;
    }

    .session-header {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.modal-child-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    //   padding: 30px;
    height: 100vh;
    width: 100vw;
    border-radius: 10px;
}

.modal-content {
    // background-color: pink;
    height: 100%;
    width: 100%;
    // border-radius: 8px;
    background-color: #d9d9d9;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // background-color: lightblue;
    // border-radius: 10px;
    height: 100%;
}

.sesion-info {
    width: 100%;
    margin-right: 365px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.session-input {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-form > h1 {
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
    // background-color: rgb(235, 235, 235);
    border-bottom-color: rgb(224, 223, 223);
    width: 95%;
    text-align: center;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    color:rgba(19, 19, 19, 0.7)
}

.session-form label {
    // margin-top: 30px;
    // background-color: royalblue;
    width: 50%;
    font-size: 17px;
    color:rgb(34, 33, 33);
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.session-form input {
    width: 70%;
    height: 30px;
    border-radius: 0;
    border: 1px solid rgb(81, 83, 83);
}

.session-form button {
    background-color: #0b9fcd;;
    color: white;
    width: 40%;
    height: 37px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .5px;
    // padding: 5px;
    margin-top: 40px;
    border: none;
    // border-radius: 5px;
}

.session-form button:hover {
    cursor: pointer;
    // text-decoration: underline;
}

.login > h1{
    padding: 45px;
    width: 65%;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px dotted #c5c7c7;
}

.login {
    background-color: #f1f1f1;
}

.login input{
    width: 60%;
    margin: 10px 20px;
    padding: 5px;
    border: 1px solid #c5c5c5;
    font-size: 16px;
    font-family: inherit;
}

.login input:active {
    border: 1px solid #c5c5c5;
}

.login button {
    width: 45%;
}

// .username {
//     display: flex;
//     justify-content: space-evenly;
//     background-color: pink;
//     margin-bottom: 5px;
// }

// .username input {
//     margin-bottom: 0px;
//     background-color: blue;
// }

// .email {
//     display: flex;
//     justify-content: space-evenly;
// }

// .password {
//     display: flex;
//     justify-content: space-evenly;
// }
.article-index {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 64vh;
    overflow: hidden;

}

// .main-article-container:hover {
//     background: white;
// }

.main-article-container {
    box-sizing: border-box;
    position: relative;
    color: white;
    background: #7fb1ff;
    margin: 2px 0px;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        opacity: 0.7;
        transition: 0.3s;
        
    }

    img:hover {
        opacity: 0.6;
    }

    h2 {
        position: absolute;
        bottom: 100px;
        left: 60px;
        font-size: 30px;
        font-weight: 500;
        text-shadow: black 1px 0 10px;
        letter-spacing: 1px;
    }

    p {
        position: absolute;
        bottom: 70px;
        left: 60px;
        font-weight: 400;
        text-shadow: black 1px 0 10px;
        letter-spacing: 0.5px;
        font-size: 14px;
    }

    a > button {
        position: absolute;
        bottom: 20px;
        left: 60px;
        background: transparent;
        border: 1px solid white;
        border-radius: 4px;
        color: white;
        font-size: 11px;
        width: 71px;
        height: 27px;
        font-weight: bold;
        letter-spacing: 0.5px;
        cursor: pointer;
        text-shadow: black 1px 0 10px;
        transition: 0.3s;
    }

    // a > button > i {
    //     // display: none;
    //     width: 0;
    //     // -webkit-transition: width 1s;
    //     transition: 0.3s;
    //     // vertical-align: middle;
    //     white-space: nowrap;
    //     overflow: hidden;
    // }

    a > button:hover {
        width: 100px;
        fill: white;
        // vertical-align: middle;
    }

    // a > button:hover i {
    //     display: inline-block;
    // }
}

.article-index-item {
    height: 34%;
    // width: 100%;
    // object-fit: contain;
    position: relative;
    color: #f9f9f9;
    // overflow: hidden;
    box-sizing: border-box;
    margin: 0px 0px 2px 2px;
    background: #ffffff;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        opacity: 0.9;
        transition: 0.3s;
        padding: 2px 0px;
    }

    img:hover {
        opacity: 0.8;
    }

    h2 {
        position: absolute;
        top: 84px;
        left: 10px;
        font-weight: 500;
        letter-spacing: .5px;
        font-size: 15px;
        text-shadow: black 1px 0 10px;
    }

    p {
        position: absolute;
        top: 103px;
        left: 10px;
        font-variant: all-small-caps;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-shadow: black 1px 0 10px;
    }
}

.secondary-article-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 40vw;
    // padding: 0px 2px;
}


// .article:first-child {
//     position: relative;
//     color: white;
//     font-size: 35px;
//     font-weight: 500;
//     text-shadow: 0px 0px 2px #050505;
//     max-width: 100vw;
//     height: 60.5vh;
//     width: 60vw;
//     min-width: 700px;
//     overflow: hidden;
//     margin: 1.5px 0px 1.5px 0px;


// }

// .img1 {
//     position: absolute;
//     width: 40vw;
//     height: 30vh;
//     margin: 1.5px;
// }

// .img2 {
//     position: relative;
//     width: 40vw;
//     height: 30vh;
//     top: 211px;
//     margin: 2.5px 1.5px 1.5px 1.5px;
//     // right: 0px;
// }

// .first-article img{
//     height: 60vh;
//     width: 60vw;
//     min-width: 700px;
//     overflow: hidden;
// }

// .side-article img {
//     height: 30vh;
//     width: 30vw;
//     position: absolute;
//     bottom: 50px;
//     border: 3px solid red;
//     align-self: flex-start;
// }

// .side-articles-container {}


.article {
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 0px 1px 2px #050505;

    // img {
    //     width: 100%;
    //     height: auto;
    // }

    h2 {
        position: absolute;
        bottom: 130px;
        left: 45px;
        // background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
        letter-spacing: 1px;
    }

    p {
        position: absolute;
        bottom: 100px;
        left: 45px;
        font-size: 14px;
        font-weight: 400;
        // background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
        overflow-wrap: break-word;
        letter-spacing: 1px;
        overflow: hidden;
        font-weight: normal;
    }

    button {
        position: absolute;
        bottom: 40px;
        left: 45px;
        background: rgba(0, 0, 0, 0.4);
        color: white;
        border: 1px solid white;
        // font-weight: bold;
        padding: 7px;
        border-radius: 5px;
        width: 95px;
        cursor: pointer;
    }

}

// img:hover { 
//   opacity: .9; 
// }

// .container-1 {
//     position: relative;
// }
// .class1 h2 {
//     position: absolute;
//     top: 143px;
//     left: 20px;
//     z-index: 2;
//     font-size: 18px;
//     height: 22px;
//     // background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
// }

// .class1 p {
//     position: absolute;
//     z-index: 2;
//     top: 166px;
//     left: 29px;
//     width: 195px;
//     font-size: small;
//     height: 20px; 
//     font-weight: bold;  
// }

// .class2 h2 {
//     position: relative;
//     z-index: 2;
//     top: 146px;
//     left: 20px;
//     font-size: 18px;
//     height: 16px;
//     width: 45px;
// }

// .class2 p {
//     position: relative;
//     z-index: 2;
//     top: 150px;
//     left: 28px;
//     height: 20px;
//     width: 170px;
//     font-weight: bold;
// }

// .class1 button {
//     display: none;
// }

// .class2 button {
//     display: none;
// }



.album-index-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}

.album-index {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 1%;
    // margin-right: 1%;
    height: 200px;
    overflow-x: auto;
    // white-space: nowrap;
    flex-direction: column;
}

.album {
    margin: 20px;
    display: flex;
    inline-size: 150px;
    overflow-wrap: break-word;
    flex-direction: column;

    img {
        border: 0.5px solid #a3a1a1;
        width: 150px;
        height: 150px;
        overflow: auto;
    }
}


.album-show-container {
    background-color: #eeeeee;
    border-top: 0.4px solid rgb(194, 194, 194);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 100vw;
        height: 100vh;
        position: relative;
        margin-bottom: 183px;


    }
}

.album-show-body {
    background-color: #fdfffe;
    // height: 100%;
    // width: 85%;
    max-width: 965px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 0.4px solid grey;
    border-right: 0.4px solid grey;
    border-bottom: 0.4px solid grey;
    margin-top: 35px;

     p {
        margin-left: 6px;
    }

    header {
        font-size: 15px;
        font-weight: bold;
        background-color: #e5e3e3;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    a {
        margin: 0px 10px;
        color: #3686bb;
        padding: 10px;
    }

    img {
        height: 350px;
        width: 350px;
    }

    h2 {
        font-size: 30px;
        padding: 5px;
    }

    h2:active {
        color: black;
    }
}


.active {
    color: black;
    border-top: 2px solid black;
}

.album-details {
    display: flex;
    justify-content: space-around;
    height: 100%;
        margin: 70px 34px 0px 20px;
}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    audio {
        margin-top: 26px;
    }

    h4 {
        font-weight: bold;
        margin: 15px 5px 4px;
    }

    p:nth-of-type(2) {
        font-size: 13px;
    }

    p:nth-of-type(3) {
        margin: 4px 5px;
        font-size: 12.5px;
    }

    h3 {
        font-weight: bold;
        font-size: 18px;
        margin: 0px 5px;
    }

    p:nth-of-type(4) {
        font-size: 13px;
        font-weight: bold;
        margin: 5px;
    }

    // p:nth-of-type(5) {
    //     font-size: 12px;
    // }

    .song-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        p {
            font-size: 12px;
        }

        button {
            height: 32px;
            width: 33px;
            position: relative;
        }

        img {
            height: 18px;
            width: 18px;
            border: 1px solid black;
            margin: 5px 5px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    button {
        background-color: white;
        color: #0085c7;
        font-weight: bold;
        border-radius: 3px;
        border: 0.5px solid #b8b7b7;
        padding: 6px;
        height: 29px;
        width: 119px;
        margin: 9px 10px;
        font-size: 12px;
    }
}

.album-display {
    padding: 10px;
}

.artist-info {
    padding: 10px;
    width: 114px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
        font-weight: bold;
        letter-spacing: 1px;
        margin-left: 10px;
        font-size: 16px;
        overflow-wrap: break-word;
    }

    p {
        margin-left: 5px;
        font-size: 12px;
        color: grey;
        padding: 5px;
        width: 125px;
    }


    button {
        background-color: white;
        color: #0085c7;
        font-weight: bold;
        border-radius: 3px;
        border: 0.5px solid #b8b7b7;
        padding: 6px;
        height: 29px;
        width: 119px;
        margin: 9px 10px;
        font-size: 12px;
    }

    p:nth-of-type(2n) {
        color: black;
    }

    p:nth-of-type(3) {
        font-size: 14px;
        color: black;
        margin: 11px 0px 11px 5px;
    }

    img {
        width: 128px;
        height: 100px;
        margin: 0px 10px 10px;
    }

    .artist-albums {
        img {
            width: 120px;
            height: 120px;
            margin: 0px -10px;
            border: .5px solid #727272;
        }

        p {
            margin: 0px 10px 13px;
            padding: 0px;
            color: #727272;
        }
    }
}

.footer {
    width: 100vw;
    height: 49px;
    background-color: #dbdbdb;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center; 
    
    div {
        color: rgb(11, 121, 185);
        font-size: 12px;
    }

    a {
        color: rgb(11, 121, 185);
        margin-right: 10px;
        font-weight: bold;
        font-size: 12px;
    }
    a:hover {
        text-decoration: underline;
    }
    img {
        height: 30px;
        width: 30px;
        z-index: 2;
    }
}

